body, html{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, #0f0f0f , #282a29);
    color:#fce8ce;
    width: 100%;
}

.home{
    height: auto;
    overflow: hidden;
}

.btn{
    color: #282a29;
    text-decoration: none;
    background: #FF7241;
    font-weight: bolder;
    border: none;
    transition: background 0.5s, color 0.5s;
}

.btn:hover{
    color:#FF7241;
    background: #fce8ce;
    border: none;
}

.home img{
    opacity: 0.5;
}

.orange{
    color:#FF7241;
}

.grey{
    color: #666666;
    font-size: 14px;
}

.expecs_detailes{
    color: white;
    margin: 2%;
    width: 18%;
    text-align: center;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px #ccc ; 
       -moz-box-shadow: 0px 0px 10px #ccc ;
            box-shadow: 0px 0px 10px #ccc ; 
}

.btn_resume{
    text-align: center;
}

.what_i_do_topic{
    background: rgba(128, 128, 128, 0.1);
    height: auto;
    padding: 1%;
    text-align: center;
}

.what_i_do_topic:hover{
    border: 1px solid #fce8ce;  
}

.form-control{
    background-color: transparent;
    border-bottom: 1px solid #929090 !important;
    border: 1px solid transparent;
    width: 100% !important;
}

/* Modal Header -------------------------------------------------------------------------------------------------------------------------*/
.title_certificate{
    font-size: 13px;
    line-height: 14px;
    text-transform: uppercase;
}    

.name_institution{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 14px;
    font-weight: 500;
}

.img-modal{
    width: 100%;
    height: auto;  
}

.hover-modal {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: none;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(33, 33, 33, 0.95);
    font-family: Avenirnextltpro, sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding-top: 18%;
  }


.modal-content:hover .hover-modal {
opacity: 0.3;
}

.modal-content:hover .hover-modal {
opacity: 1;
}
  
ul{
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -4%;
}

li{
    list-style-type: none;
    position: relative;
    width: 46%;
    float: left;
    height: auto;
    margin: 1%;
}

li:hover .hover-modal {
    display: block;
    opacity: 1;
}

.modal-lg, .modal-xl {
    max-width: 70%;
}

.fecha-modal{
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .home_mobile{
        margin: 50% 0;
    }
    
    .title_certificate{
        font-size: 12px;
        text-transform: uppercase;
    }    
    
    .name_institution{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 11px;
    }
    
    .img-modal{
        width: 100%;
        height: auto;  
    }
    
    .hover-modal {
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        padding-top: 8%;
    }
    
    .modal-content:hover .hover-modal {
        opacity: 0.3;
    }
    
    .modal-content:hover .hover-modal {
        opacity: 1;
    }
        
    ul{
        padding-left: 0;
        list-style: none;
        margin: 0 1% 0 1%;
    }
    
    li:hover .hover-modal {
        display: block;
        opacity: 1;
    }
    
    li{
        list-style-type: none;
        position: relative;
        width: 100%;
        float: left;
        height: auto;
        margin-bottom: 1%;
    }

    .modal-content{
        margin-left: 18%;
    }

    .area_knowledge_totaly{
        padding-top: 10%;
    }

    h3{
        font-size: 1.5rem;
    }

    .home{
        padding-top: 10%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .home_mobile{
        margin-top: 40%;
    }
    
    .title_certificate{
        font-size: 14px;
        text-transform: uppercase;
    }    
    
    .name_institution{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    
    .img-modal{
        width: 100%;
        height: auto;  
    }
    
    .hover-modal {
        line-height: 15px;
        text-align: center;
        padding-top: 14%;
    }
    
    .modal-content:hover .hover-modal {
        opacity: 0.3;
    }
    
    .modal-content:hover .hover-modal {
        opacity: 1;
    }
        
    ul{
        padding-left: 0;
        list-style: none;
        margin: 0 2% 0 2%;
    }
    
    li:hover .hover-modal {
        display: block;
        opacity: 1;
    }
    
    li{
        list-style-type: none;
        position: relative;
        width: 100%;
        float: left;
        height: auto;
        margin-bottom: 1%;
    }

    .modal_content{
        margin-left: 18%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.display-1 {
		font-size: 4em;
    }
    
    .display-2{
        font-size: 3.5rem;
    }

    h3{
        font-size: 1.2rem;
    }

    .image_tablet{
        margin-left: -60%;
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 35%;
        max-width: 35%;
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 65%;
        max-width: 65%;
    }

    .modal-content{
        margin-left: -15%;
        width: 125%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .display-2{
        font-size: 4.5rem;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.display-1 {
		font-size: 6em;
	}
}
